html {

    background-color: white

}


body {

    border: 2px solid black
    width: 1200px;
    background-color: lightgray;
    padding: 2px;
    margin: 0 auto;
}



/* header style */

header {
    background-color: lightcyan;
    border-bottom 

}

header img {

    width: 
    height: 90px;
    border-radius


/*



    font-size: 30px;
    font-style:italic;
}

header h2 {
