/*html style */
html { 
background-color: white;
}
body {

    border: 2px solid black;
    width: 1200px;
    background-color: lightgray:alicebluepadding: 2px;
    margin: 0 :auto;
}

/*header style */
header {
    background-color: lightcyan; 
    border-bottom: 2px solid black;
}
header img {
    width: 90px;
    height: 90px; 
    border-radius: 50%;
    /*header heading */

}
/* header heading */
header h1 {
    color: darkcyan; 
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    font-style:italic;
    float: left 
}

header h2 {
    color: darkcyan;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}